.navigation-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust margin as needed */
  }

.subtitle {
    font-size: 1em; /* Adjust the size as needed */
    color: #666; /* Adjust the color as needed */
    margin-top: 5px; /* Adjust the margin as needed */
  }
  
.prev-post,
.next-post {
    width: 48%; /* Adjust width as needed */
  }
  
.prev-post {
    text-align: left; /* Align "Previous" link to the left */
  }
  
.next-post {
    text-align: right; /* Align "Next" link to the right */
  }
  
.references {
    font-size: 0.5em; /* Adjust this value to make the font smaller or larger */
  }

  .image-caption {
    font-size: 0.8em; /* Smaller font size */
    text-align: left; /* Align text to the left */
    margin-top: 0; /* Remove space between the image and caption */
    padding-top: 5px; /* Optionally add a small padding for better readability */
}

.image-caption strong {
    font-weight: bold; /* Bold the word */
}

.separator {
    margin-left: 3rem;  /* Increase the space before the separator */
    margin-right: 3rem; /* Increase the space after the separator */

}

/* these currently don't really work */