[submodule "daniellelouieblog/danilouie.github.io"]
	path = daniellelouieblog/danilouie.github.io
	url = https://github.com/danilouie/danilouie.github.io.git
[submodule "daniellelouieblog/public"]
	path = daniellelouieblog/public
	url = https://github.com/danilouie/danilouie.github.io.git
