{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container project">
    <article>
      <header>
        <div class="project-title">
          <h1 class="title">
            <a class="title-link" href="{{ .Permalink | safeURL }}">
              {{ .Title }}
            </a>  
          </h1>
        <!-- The subtitle section should be outside the h1 for the title -->
          <div class="project-subtitle">
            {{ if .Params.subtitle }}
              <h2 class="subtitle">
                {{ .Params.subtitle }}
              </h2>
            {{ end }}
          </div>
          <!-- subtitle ends here --> 
        </div>
        <div class="project-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fa-solid fa-calendar" aria-hidden="true"></i>
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            <span class="reading-time">
              <i class="fa-solid fa-clock" aria-hidden="true"></i>
              {{ i18n "reading_time" .ReadingTime }}
            </span>
          </div>
          {{ with .GetTerms "authors" }}{{ partial "taxonomy/authors.html" . }}{{ end }}
          {{ with .GetTerms "categories" }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .GetTerms "tags" }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div class="project-content">
        {{ if .Params.featuredImage }}
          <img src="{{ .Params.featuredImage | relURL }}" alt="Featured image"/>
        {{ end }}
        {{ .Content }}
      </div>


      <footer>
        {{ partial "projects/series.html" . }}
        {{ partial "projects/disqus.html" . }}
        {{ partial "projects/commento.html" . }}
        {{ partial "projects/utterances.html" . }}
        {{ partial "projects/giscus.html" . }}
        {{ partial "projects/mastodon.html" . }}
        {{ partial "projects/telegram.html" . }}
        {{ partial "projects/cusdis.html" . }}

        <div class="navigation-links">
          <div class="prev-project">
            {{ if .Prev }}
              <a href="{{ .Prev.Permalink }}">Previous: {{ .Prev.Title }}</a>
            {{ end }}
          </div>
          <div class="next-project">
            {{ if .Next }}
              <a href="{{ .Next.Permalink }}">Next: {{ .Next.Title }}</a>
            {{ end }}
          </div>
        </div>

      </footer>
    </article>

    {{ partial "projects/math.html" . }}
  </section>
{{ end }}
